@model Chat
@{
    Layout = "_Layout";
}
@if (Model.UserFrom.Username == User.Identity.Name)
{
    <span id="UserFrom">@Model.UserFrom.Username</span>
    <p></p>
    <span id="UserTo">@Model.UserTo.Username</span>
}
else
{
    <span id="UserFrom">@Model.UserTo.Username</span>
    <p></p>
    <span id="UserTo">@Model.UserFrom.Username</span>
}
@foreach (var item in Model.Messages)
{
    <p>@item.Text</p>
}
<ul id="chatList"></ul>
    <input id="messageText" type="text" name="message"/>message
    <button id="sendButton" type="button" class="btn btn-outline-primary">Send</button>


@section scripts{
    <script>
        $(document).ready(function (e) {
            const hubConnection = new signalR.HubConnectionBuilder()
                .withUrl("/chat")
                .build();

            hubConnection.on('Receive', function (message) {
                var userTo = message.userTo;
                var userFrom = message.userFrom;
                var MyChatMe = $('#UserFrom').text();
                var MyChatWith = $('#UserTo').text();
                if (userFrom === MyChatMe || (userTo === MyChatMe && userFrom === MyChatWith)) {
                    alert(message.text);
                }

            });
            //не хоче перевіряти по таг хелперу
            hubConnection.start();

            $('#sendButton').click(function (e) {
                e.preventDefault();
                var messageText = $('#messageText').val();
                var user = $('#UserTo').text();
                user = decodeURIComponent(user);

                $.post('@Url.Action("SendMessage", "Chat")', { message: messageText }, function (data) {
                });
            });
        });

    </script>
}
